/* Основные настройки шрифтов */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5; /* Светло-серый фон */
    color: #2C3E50; /* Темно-синий цвет текста */
    margin: 10px;
    padding: 20px;
}

.logo-container {
    width: 100%;
    height: 80px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    width: auto;
    height: 80px;
    object-fit: contain;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.category-group {
    width: 48%;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #2C3E50; /* Темно-синий для заголовков */
}

/* Кнопки и акценты */
button, .btn {
    font-family: 'Lato', sans-serif;
    background-color: #FF6F00; /* Оранжевый для кнопок */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, .btn:hover {
    background-color: #F1C40F; /* Желтый при наведении */
}

/* Заголовки */
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Общие стили для текста */
p, ul, ol {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Ссылки */
a {
    color: #4A90E2; /* Синий для ссылок */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF6F00; /* Оранжевый при наведении */
}

/* Основной стиль для карточек и блоков */
.card {
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Блоки с текстом и акцентами */
.text-highlight {
    color: #FF6F00; /* Оранжевый для акцентов в тексте */
    font-weight: bold;
}