<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Montserrat:wght@400;500;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles2.css}" />
    <title>Registration</title>
  </head>
  <body>
    <header class="logo-container">
      <img src="/images/Matchify-logo.png" class="logo" alt="Matchify logo"/>
    </header>

    <h2>User Registration</h2>

    <form th:action="@{/register}" method="post" th:object="${user}" enctype="multipart/form-data">
      <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
      </div>

      <h4>Name:</h4>
      <label for="name">
        <input type="text" id="name" th:field="*{name}" required>
      </label>

      <h4>Birth year:</h4>
      <label for="birthYear">
        <input type="number" id="birthYear" th:field="*{birthYear}" required>
      </label>

      <h4>Location:</h4>
      <label for="location">
        <input type="text" id="location" th:field="*{location}" required>
      </label>

      <h4>Profile Picture (max 1MB):</h4>
      <label for="userPhoto">
        <input type="file" id="userPhoto" name="userPhoto" accept="image/*" onchange="previewProfileImage(event)" th:value="photo">
      </label>
      <br>
      <img id="preview" src="#" height="50px" width="auto">

      <div class="category-container">
        <div class="category-group" th:each="category : ${categoryMap.keySet()}">
          <h3 th:text="${category.description}"></h3>
          <div th:each="interest : ${categoryMap.get(category)}">
            <label>
              <input type="checkbox" th:id="${interest.name}"
                       th:field="*{interests}" th:value="${interest.name}">
              <span th:text="${interest.description}">Interest</span>
            </label> <br>
          </div>
        </div>
      </div>

      <br>
      <button type="submit">Register</button>
    </form>

    <script>
      function previewProfileImage(event) {
        const preview = document.getElementById('preview');
        const file = event.target.files[0];
        if (file) {
          preview.src = URL.createObjectURL(file);
          preview.style.display = 'block';
        } else {
          preview.style.display = 'none';
          preview.src = '#';
        }
      }
    </script>

  </body>
</html>